
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .home{
    background-image: url(../img/2.jpg);
    background-size: cover;
    height: 100vh;
  }

  .overley{
    background-color: rgba(0, 0, 0, 0.619);
    height: 100vh;
  }




  
   /* ______________________ start of the nav ______________________  */

  

  .up{
    position: absolute;
    margin-top: 50px;
    margin-left: 30px;
  }
  
  .up img{
    width: 40px;
  }
  
  .up p{
    width: 450px;
    height: 1px;
    background-color: slategray;
    margin-left: 80px;
    margin-top: -20px;
    z-index: 2;
    position: absolute;
  }

  .desli{
    font-size: 19px;
  }
  
  nav{
    position: absolute;
    margin-top: 26px;
    color: white;
    background-color: rgba(255, 255, 255, 0.548);
   width: 708px;
   height: 80px;
   margin-left: 543px;
  }
  
  nav ul{
    list-style: none;
    margin-left: 40px !important;
    margin-top: 30px;
  }
  
  nav ul li{
    padding-left: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  nav ul li a{
    color: white;
    transition: 0.3s;
  }
  
  nav ul li a:hover{
    color: #ea2a4f;
    text-decoration: none;
    transition: 0.3s;
  }




  
   /* ______________________ end of the nav ______________________  */





   /* ________________ When i click on the navigation and the navigation _______________ */


.clic{
  margin-left: 576px;
margin-top: -34px !important;
position: absolute;
font-size: 20px;
}

.bar1{
  background-color: rgba(0, 0, 0, 0.967);
  width: 100%;
  height: 100vh;
  margin-top: 0px;
 position: absolute;
 display: none;
 animation: bar 0.8s  linear;
 z-index: 21;
}

.bar1 i{
  margin-left: 30px;
  margin-top: 10px;
  font-size: 50px;
  margin-right: 1180px;
  color: white;
}

.bar1 i:hover{
  color: #ea2a4f;
  cursor: pointer;
}

.bar1 ul{
  margin-top: 50px;
  text-align: center;
}

.bar1 ul li{
  font-size: 60px;
  font-weight: 700;
  padding: 30px 0 30px 0 !important;
}

.bar1 ul li a{
  color: #ea2a4f;
  text-decoration: none;
}

.bar1 ul li a:hover{
  color: white;
  background-color: #ea2a4f;
  text-decoration: none;
  padding: 10px;
}



/* ________________ When i click on the navigation and the navigation _______________ */









/* _________________ animation of the navigation ________________ */





@keyframes bar {
from{
 transform: translateY(-100vh);
}
to{
 transform: translateY(0);
}
}






/* _________________ animation of the navigation ________________ */


  

  .line{
    background-color: white;
    width: 163px;
    height: 3px;
    position: absolute;
    margin-top: 103px;
    margin-left: 740px;
  }

  



   /* ______________________ start of the moon ______________________  */

  
  .left h3{
    padding: 140px;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
  }
  
  .left img{
    margin-top: -120px;
    margin-left: 120px;
    width: 400px;
  }
  
  .right{
    margin-left: 600px;
    margin-top: -400px;
  }

  .right ul li{
  margin-left: 20px;
  list-style: none;
  }

.right ul li a{
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
}

.right ul li a:hover{
  text-decoration: none;
  color: #ea2a4f;
  transition: 0.3s;
}

.line1{
  width: 50px;
  height: 2px;
  background-color: white;
  margin-top: -10px;
  margin-left: 7px;
}

.right h2{
  color: white;
  text-transform: uppercase;
  font-size: 90px;
}

.right .see{
  color: white;
  width: 550px;
}

.right .line2{
  width: 540px;
  background-color: slategray;
  height: 1px;
}

.leffir p{
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  margin-top: 30px;
}

.leffir span{
  color: white;
  text-transform: uppercase;
  margin-top: -15px ;
  position: absolute;
  font-size: 30px;
}

.rigfir p{
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  margin-top: -37px;
  margin-left: 300px;
}

.rigfir span{
  color: white;
  text-transform: uppercase;
  margin-top: -15px ;
  position: absolute;
  font-size: 30px;
  margin-left: 300px;
}





   /* ______________________ end of the moon ______________________  */



















   /* ______________________ start of the mars ______________________  */



.left1 h3{
  padding: 140px;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
}

.left1 img{
  margin-top: -120px;
  margin-left: 120px;
  width: 400px;
}

.right1{
  margin-left: 600px;
  margin-top: -400px;
}

.right1 ul li{
margin-left: 20px;
list-style: none;
}

.right1 ul li a{
color: white;
text-transform: uppercase;
letter-spacing: 1px;
transition: 0.3s;
}

.right1 ul li a:hover{
text-decoration: none;
color: #ea2a4f;
transition: 0.3s;
}

.line3{
width: 50px;
height: 2px;
background-color: white;
margin-top: -10px;
margin-left: 77px;
}

.right1 h2{
color: white;
text-transform: uppercase;
font-size: 90px;
}

.right1 .see{
color: white;
width: 550px;
}

.right1 .line2{
width: 540px;
background-color: slategray;
height: 1px;
}

.leffir1 p{
color: white;
text-transform: uppercase;
letter-spacing: 1px;
font-size: 14px;
margin-top: 30px;
}

.leffir1 span{
color: white;
text-transform: uppercase;
margin-top: -15px ;
position: absolute;
font-size: 30px;
}

.rigfir1 p{
color: white;
text-transform: uppercase;
letter-spacing: 1px;
font-size: 14px;
margin-top: -37px;
margin-left: 300px;
}

.rigfir1 span{
color: white;
text-transform: uppercase;
margin-top: -15px ;
position: absolute;
font-size: 30px;
margin-left: 300px;
}




 /* ______________________ end of the mars ______________________  */

































 /* ______________________ start of the europa ______________________  */



.left2 h3{
  padding: 140px;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
}

.left2 img{
  margin-top: -120px;
  margin-left: 120px;
  width: 400px;
}

.right2{
  margin-left: 600px;
  margin-top: -400px;
}

.right2 ul li{
margin-left: 20px;
list-style: none;
}

.right2 ul li a{
color: white;
text-transform: uppercase;
letter-spacing: 1px;
transition: 0.3s;
}

.right2 ul li a:hover{
text-decoration: none;
color: #ea2a4f;
transition: 0.3s;
}

.line4{
width: 60px;
height: 2px;
background-color: white;
margin-top: -10px;
margin-left: 150px;
}

.right2 h2{
color: white;
text-transform: uppercase;
font-size: 90px;
}

.right2 .see{
color: white;
width: 550px;
}

.right2 .line2{
width: 540px;
background-color: slategray;
height: 1px;
}

.leffir2 p{
color: white;
text-transform: uppercase;
letter-spacing: 1px;
font-size: 14px;
margin-top: 30px;
}

.leffir2 span{
color: white;
text-transform: uppercase;
margin-top: -15px ;
position: absolute;
font-size: 30px;
}

.rigfir2 p{
color: white;
text-transform: uppercase;
letter-spacing: 1px;
font-size: 14px;
margin-top: -37px;
margin-left: 300px;
}

.rigfir2 span{
color: white;
text-transform: uppercase;
margin-top: -15px ;
position: absolute;
font-size: 30px;
margin-left: 300px;
}



/* ______________________ end of the europa ______________________  */














/* ______________________ start of the titan ______________________  */


.left3 h3{
  padding: 140px;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
}

.left3 img{
  margin-top: -120px;
  margin-left: 120px;
  width: 400px;
}

.right3{
  margin-left: 600px;
  margin-top: -400px;
}

.right3 ul li{
margin-left: 20px;
list-style: none;
}

.right3 ul li a{
color: white;
text-transform: uppercase;
letter-spacing: 1px;
transition: 0.3s;
}

.right3 ul li a:hover{
text-decoration: none;
color: #ea2a4f;
transition: 0.3s;
}

.line5{
width: 43px;
height: 2px;
background-color: white;
margin-top: -10px;
margin-left: 237px;
}

.right3 h2{
color: white;
text-transform: uppercase;
font-size: 90px;
}

.right3 .see{
color: white;
width: 550px;
}

.right3 .line2{
width: 540px;
background-color: slategray;
height: 1px;
}

.leffir3 p{
color: white;
text-transform: uppercase;
letter-spacing: 1px;
font-size: 14px;
margin-top: 30px;
}

.leffir3 span{
color: white;
text-transform: uppercase;
margin-top: -15px ;
position: absolute;
font-size: 30px;
}

.rigfir3 p{
color: white;
text-transform: uppercase;
letter-spacing: 1px;
font-size: 14px;
margin-top: -37px;
margin-left: 300px;
}

.rigfir3 span{
color: white;
text-transform: uppercase;
margin-top: -15px ;
position: absolute;
font-size: 30px;
margin-left: 300px;
}




/* ______________________ end of the titan ______________________  */





.all3{
  display: none;
}

.all1{
  display: none
}

.all2{
  display: none;
}



























  /* _____________________ page2 of all devices ___________________ */





  @media (max-width: 1200px) {


    
    .up p{
      width: 390px;
    }

    nav{
      margin-left: 485px;
        }
    
        nav ul{
          margin-left: 7px !important;
          position: absolute;
         z-index: 3;
        }
      
       
     .nav-item i{
       margin-left:-40px;
       margin-top: -10px !important;
     }

    .bar1 .close{
      position: absolute;
      margin-top: 43px;
    }

    .bar1 ul{
      margin-top: 100px ;
    }

    .bar1 ul li{
      font-size: 50px;
      margin-top: 20px;
    }

    .line{
     margin-left:605px;
     width: 150px;
    }

    .left h3,.left1 h3,.left2 h3,.left3 h3{
      margin-left: -30px !important;
      
    }

    .left img,.left1 img,.left2 img,.left3 img{
      width: 330px;
      margin-left: 120px !important;
    }

    .right ul, .right1 ul,.right2 ul,.right3 ul{
     margin-top: 80px;
    }

    .right h2{
      margin-left: 3px;
      margin-top: -20px;
    }

   
    
   

    .rigfir,.rigfir1,.rigfir2,.rigfir3{
      margin-left: 110px;
    }
    

    .right1 h2,.right3 h2{
      margin-left: 20px;
      margin-top: -10px;
    }

    .right2 h2{
      margin-left: -10px;
      margin-top: -10px;
    }

    .line1{
      margin-left: 8px;
    }

    .line3{
      margin-left: 78px;
    }

    .line4{
      margin-left: 151px;
    }

    .line5{
      margin-left: 237px;
    }
  
  

  }
























  @media (max-width: 1170px) {


    
    .up p{
      width: 350px;
    }

    nav{
      margin-left: 445px;
        }
    
        nav ul{
          margin-left: 7px !important;
          position: absolute;
         z-index: 3;
        }
    
        nav ul li{
          font-size: 15px;
        }

        .desli{
          font-size: 18px;
        }
       
     .nav-item i{
       margin-left:-40px;
       margin-top: -10px !important;
     }

    .bar1 .close{
      position: absolute;
      margin-top: 43px;
    }

    .bar1 ul{
      margin-top: 100px ;
    }

    .bar1 ul li{
      font-size: 50px;
      margin-top: 20px;
    }

    .line{
     margin-left:605px;
     width: 150px;
    }

    .left h3,.left1 h3,.left2 h3,.left3 h3{
      margin-left: -30px !important;
      
    }

    .left img,.left1 img,.left2 img,.left3 img{
      width: 330px;
      margin-left: 120px !important;
    }

    .right ul, .right1 ul,.right2 ul,.right3 ul{
     margin-top: 80px;
    }

    .right h2{
      margin-left: 3px;
      margin-top: -20px;
    }

    .right .see,.right1 .see,.right2 .see,.right3 .see{
   width: 470px;
    }

    .right .line2,.right1 .line2,.right2 .line2,.right3 .line2{
      width: 480px;
    }
  
   

    .rigfir,.rigfir1,.rigfir2,.rigfir3{
      margin-left: 40px;
    }
    

    .right1 h2,.right3 h2{
      margin-left: 20px;
      margin-top: -10px;
    }

    .right2 h2{
      margin-left: -10px;
      margin-top: -10px;
    }

    .line1{
      margin-left: 8px;
    }

    .line3{
      margin-left: 78px;
    }

    .line4{
      margin-left: 151px;
    }

    .line5{
      margin-left: 237px;
    }
  
  

  }
 





























  @media (max-width: 1100px) {


    
    .up p{
   width:270px ;
    }

    nav{
      margin-left: 363px;
      width: 725px;
        }
    
        nav ul{
          margin-left: -10px !important;
      position: absolute;
     z-index: 3;
        }
    
        nav ul li{
          font-size: 15px;
        }

        .desli{
          font-size: 18px;
        }
       
     .nav-item i{
       margin-left:-40px;
       margin-top: -10px !important;
     }

    .bar1 .close{
      position: absolute;
      margin-top: 43px;
    }

    .bar1 ul{
      margin-top: 100px ;
    }

    .bar1 ul li{
      font-size: 50px;
      margin-top: 20px;
    }

    .line{
     margin-left:505px;
     width: 150px;
    }

    .left h3,.left1 h3,.left2 h3,.left3 h3{
      margin-left: -30px !important;
      
    }

    .left img,.left1 img,.left2 img,.left3 img{
      width: 330px;
      margin-left: 120px !important;
    }

    .right ul, .right1 ul,.right2 ul,.right3 ul{
     margin-top: 80px;
    }

    .right h2{
      margin-left: 3px;
      margin-top: -20px;
    }

    .right .see,.right1 .see,.right2 .see,.right3 .see{
   width: 380px;
    }

    .right .line2,.right1 .line2,.right2 .line2,.right3 .line2{
      width: 375px;
    }
  
   

    .rigfir,.rigfir1,.rigfir2,.rigfir3{
      margin-left: -70px;
    }
    

    .right1 h2,.right3 h2{
      margin-left: 20px;
      margin-top: -10px;
    }

    .right2 h2{
      margin-left: -10px;
      margin-top: -10px;
    }

    .line1{
      margin-left: 8px;
    }

    .line3{
      margin-left: 78px;
    }

    .line4{
      margin-left: 151px;
    }

    .line5{
      margin-left: 237px;
    }
  
  

  }
 

































  @media (max-width: 1000px) {


    .home{
      height: 125vh;
    }
    

    .overley{
      height: 125vh;
    }

    .up p{
   width:250px ;
    }

    nav{
      margin-left: 343px;
      width: 645px;
        }
    
        nav ul{
          margin-left: -10px !important;
      position: absolute;
     z-index: 3;
        }
    
        nav ul li{
          font-size: 13px;
        }

        .desli{
          font-size: 13px;
        }
       
     .nav-item i{
       margin-left:-40px;
       margin-top: -10px !important;
     }
    
     .bar1{
      height: 120vh;
     }

    .bar1 .close{
      position: absolute;
      margin-top: 43px;
    }

    .bar1 ul{
      margin-top: 100px ;
    }

    .bar1 ul li{
      font-size: 50px;
      margin-top: 20px;
    }

    .line{
     margin-left:470px;
     width: 120px;
    }

    .left h3,.left1 h3,.left2 h3,.left3 h3{
      margin-left: 100px !important;
      margin-top: -20px !important;
      position: absolute;
    }

    .left img,.left1 img,.left2 img,.left3 img{
      padding-top: 280px;
      margin-left: 270px !important ;
      width: 290px;
    }

    .right ul, .right1 ul,.right2 ul,.right3 ul{
      margin-left: -335px;
      margin-top: 415px;
    }

    .right h2{
      margin-left: -320px;
      margin-top: -20px;
    }

    .right .see,.right1 .see,.right2 .see,.right3 .see{
      margin-left: -365px !important;
      text-align: center;
    }

    .right .line2,.right1 .line2,.right2 .line2,.right3 .line2{
      margin-top: 20px;
      margin-left: -575px;
      width: 845px;
    }
  
    .leffir, .leffir1,.leffir2,.leffir3{
      margin-left: -570px;
    }

    .rigfir,.rigfir1,.rigfir2,.rigfir3{
      margin-left: -170px;
    }
    

    .right1 h2,.right3 h2{
      margin-left: -300px;
      margin-top: -10px;
    }

    .right2 h2{
      margin-left: -335px;
      margin-top: -10px;
      
    }

    .line1{
      margin-left: -314px;
    }

    .line3{
      margin-left: -242px;
    }

    .line4{
      margin-left: -171px;
    }

    .line5{
      margin-left: -83px;
    }
  
  

  }
 





























  @media (max-width: 900px) {


    .home{
      height: 125vh;
    }
    

    .overley{
      height: 125vh;
    }

    .up p{
    display: none;
    }

    nav{
      margin-left: 253px;
      width: 635px;
        }
    
        nav ul{
          margin-left: -30px !important;
      position: absolute;
     z-index: 3;
        }
    
        nav ul li{
          font-size: 13px;
        }

        .desli{
          font-size: 13px;
        }
       
     .nav-item i{
       margin-left:-30px;
       margin-top: -10px !important;
     }
    
     .bar1{
      height: 120vh;
     }

    .bar1 .close{
      position: absolute;
      margin-top: 43px;
    }

    .bar1 ul{
      margin-top: 100px ;
    }

    .bar1 ul li{
      font-size: 50px;
      margin-top: 20px;
    }

    .line{
     margin-left: 360px;
     width: 120px;
    }

    .left h3,.left1 h3,.left2 h3,.left3 h3{
      margin-left: 60px !important;
      margin-top: -20px !important;
      position: absolute;
    }

    .left img,.left1 img,.left2 img,.left3 img{
      padding-top: 280px;
      margin-left: 240px !important ;
      width: 290px;
    }

    .right ul, .right1 ul,.right2 ul,.right3 ul{
      margin-left: -365px;
      margin-top: 415px;
    }

    .right h2{
      margin-left: -350px;
      margin-top: -20px;
    }

    .right .see,.right1 .see,.right2 .see,.right3 .see{
      margin-left: -390px !important;
      text-align: center;
    }

    .right .line2,.right1 .line2,.right2 .line2,.right3 .line2{
      margin-top: 20px;
      margin-left: -575px;
      width: 750px;
    }
  
    .leffir, .leffir1,.leffir2,.leffir3{
      margin-left: -570px;
    }

    .rigfir,.rigfir1,.rigfir2,.rigfir3{
      margin-left: -260px;
    }
    

    .right1 h2,.right3 h2{
      margin-left: -330px;
      margin-top: -10px;
    }

    .right2 h2{
      margin-left: -365px;
      margin-top: -10px;
      
    }

    .line1{
      margin-left: -344px;
    }

    .line3{
      margin-left: -272px;
    }

    .line4{
      margin-left: -201px;
    }

    .line5{
      margin-left: -113px;
    }
  
  

  }
 




























  @media (max-width: 800px) {


    .home{
      height: 125vh ;
    }
    

    .overley{
      height: 125vh ;
    }

    .up p{
    display: none;
    }

    nav{
      margin-left: 253px;
      width: 545px;
        }
    
        nav ul{
          margin-left: -30px !important;
      position: absolute;
     z-index: 3;
        }
    
        nav ul li{
          font-size: 12px;
        }

        .desli{
          font-size: 13px;
        }
       
     .nav-item i{
       margin-left:-50px;
       margin-top: -10px !important;
     }
    
     .bar1{
      height: 120vh;
     }

    .bar1 .close{
      position: absolute;
      margin-top: 43px;
    }

    .bar1 ul{
      margin-top: 100px ;
    }

    .bar1 ul li{
      font-size: 50px;
      margin-top: 20px;
    }

    .line{
     margin-left: 360px;
     width: 110px;
    }

    .left h3,.left1 h3,.left2 h3,.left3 h3{
      margin-left: 40px !important;
      margin-top: -20px !important;
      position: absolute;
      width: 800px;
    }

    .left img,.left1 img,.left2 img,.left3 img{
      padding-top: 280px;
      margin-left: 210px !important ;
      width: 290px;
    }

    .right ul, .right1 ul,.right2 ul,.right3 ul{
      margin-left: -395px;
      margin-top: 415px;
    }

    .right h2{
      margin-left: -370px;
      margin-top: -20px;
      font-size: 80px;
    }

    .right .see,.right1 .see,.right2 .see,.right3 .see{
      margin-left: -425px !important;
      text-align: center;
    }

    .right .line2,.right1 .line2,.right2 .line2,.right3 .line2{
      margin-top: 30px;
      margin-left: -575px;
      width: 670px;
    }
  
    .leffir, .leffir1,.leffir2,.leffir3{
      margin-left: -570px;
    }

    .rigfir,.rigfir1,.rigfir2,.rigfir3{
      margin-left: -310px;
    }
    

    .right1 h2,.right3 h2{
      margin-left: -320px;
      margin-top: -10px;
      font-size: 60px;
    }

    .right2 h2{
      margin-left: -355px;
      margin-top: -10px;
      font-size: 60px;
    }

    .line1{
      margin-left: -374px;
    }

    .line3{
      margin-left: -302px;
    }

    .line4{
      margin-left: -231px;
    }

    .line5{
      margin-left: -143px;
    }
  
  

  }
 




















  @media (max-width: 747px) {


    .home{
      height: 120vh;
    }
    

    .overley{
      height: 120vh;
    }

    .up p{
    display: none;
    }

    nav{
      margin-left: 197px;
      width: 545px;
        }
    
        nav ul{
          margin-left: -30px !important;
      position: absolute;
     z-index: 3;
        }
    
        nav ul li{
          font-size: 12px;
        }

        .desli{
          font-size: 13px;
        }
       
     .nav-item i{
       margin-left:-40px;
       margin-top: -10px !important;
     }
    
     .bar1{
      height: 120vh;
     }

    .bar1 .close{
      position: absolute;
      margin-top: 43px;
    }

    .bar1 ul{
      margin-top: 100px ;
    }

    .bar1 ul li{
      font-size: 50px;
      margin-top: 20px;
    }

    .line{
     margin-left: 310px;
     width: 100px;
    }

    .left h3,.left1 h3,.left2 h3,.left3 h3{
      margin-left: 20px !important;
      margin-top: -20px !important;
      position: absolute;
      width: 800px;
    }

    .left img,.left1 img,.left2 img,.left3 img{
      padding-top: 280px;
      margin-left: 190px !important ;
      width: 290px;
    }

    .right ul, .right1 ul,.right2 ul,.right3 ul{
      margin-left: -420px;
      margin-top: 415px;
    }

    .right h2{
      margin-left: -380px;
      margin-top: -20px;
      font-size: 70px;
    }

    .right .see,.right1 .see,.right2 .see,.right3 .see{
      margin-left: -455px !important;
      text-align: center;
    }

    .right .line2,.right1 .line2,.right2 .line2,.right3 .line2{
      margin-top: 30px;
      margin-left: -575px;
      width: 670px;
    }
  
    .leffir, .leffir1,.leffir2,.leffir3{
      margin-left: -570px;
    }

    .rigfir,.rigfir1,.rigfir2,.rigfir3{
      margin-left: -340px;
    }
    

    .right1 h2,.right3 h2{
      margin-left: -350px;
      margin-top: -10px;
      font-size: 60px;
    }

    .right2 h2{
      margin-left: -375px;
      margin-top: -10px;
      font-size: 60px;
    }

    .line1{
      margin-left: -400px;
    }

    .line3{
      margin-left: -327px;
    }

    .line4{
      margin-left: -257px;
    }

    .line5{
      margin-left: -167px;
    }
  
  

  }

























  @media (max-width: 710px) {


    .home{
      height: 120vh;
    }

    .overley{
      height: 120vh;
    }

    .up p{
    display: none;
    }

    nav{
      background-color: transparent;
     }
 
     .rrt{
       display: none;
     }
 
     .nav-item i{
       display: block;
       margin-left:230px;
       font-size: 35px;
       margin-top: -11px !important;
       z-index: 50;
     }
    
     .bar1{
      height: 120vh;
     }

    .bar1 .close{
      position: absolute;
      margin-top: 43px;
    }

    .bar1 ul{
      margin-top: 100px ;
    }

    .bar1 ul li{
      font-size: 50px;
      margin-top: 20px;
    }

    .line{
      display: none;
    }

    .left h3,.left1 h3,.left2 h3,.left3 h3{
      margin-left: -5px !important;
      margin-top: -20px !important;
      position: absolute;
      width: 800px;
    }

    .left img,.left1 img,.left2 img,.left3 img{
      padding-top: 280px;
      margin-left: 190px !important ;
      width: 260px;
    }

    .right ul, .right1 ul,.right2 ul,.right3 ul{
      margin-left: -440px;
      margin-top: 415px;
    }

    .right h2{
      margin-left: -390px;
      margin-top: -20px;
      font-size: 70px;
    }

    .right .see,.right1 .see,.right2 .see,.right3 .see{
      margin-left: -465px !important;
      text-align: center;
    }

    .right .line2,.right1 .line2,.right2 .line2,.right3 .line2{
      margin-top: 30px;
      margin-left: -575px;
      width: 610px;
    }
  
    .leffir, .leffir1,.leffir2,.leffir3{
      margin-left: -570px;
    }

    .rigfir,.rigfir1,.rigfir2,.rigfir3{
      margin-left: -400px;
    }
    

    .right1 h2,.right3 h2{
      margin-left: -360px;
      margin-top: -10px;
      font-size: 60px;
    }

    .right2 h2{
      margin-left: -395px;
      margin-top: -10px;
      font-size: 60px;
    }

    .line1{
      margin-left: -419px;
    }

    .line3{
      margin-left: -347px;
    }

    .line4{
      margin-left: -277px;
    }

    .line5{
      margin-left: -187px;
    }
  
  

  }


  



























  @media (max-width: 637px) {


    .home{
      height: 120vh;
    }

    .overley{
      height: 120vh;
    }

    .up p{
    display: none;
    }

    nav{
      background-color: transparent;
     }
 
     .rrt{
       display: none;
     }
 
     .nav-item i{
       display: block;
       margin-left:150px;
       font-size: 35px;
       margin-top: -11px !important;
       z-index: 50;
     }
    
     .bar1{
      height: 120vh;
     }

    .bar1 .close{
      position: absolute;
      margin-top: 43px;
    }

    .bar1 ul{
      margin-top: 100px ;
    }

    .bar1 ul li{
      font-size: 50px;
      margin-top: 20px;
    }

    .line{
      display: none;
    }

    .left h3,.left1 h3,.left2 h3,.left3 h3{
      margin-left: -40px !important;
      margin-top: -20px !important;
      position: absolute;
      width: 800px;
    }

    .left img,.left1 img,.left2 img,.left3 img{
      padding-top: 280px;
      margin-left: 160px !important ;
      width: 260px;
    }

    .right ul, .right1 ul,.right2 ul,.right3 ul{
      margin-left: -470px;
      margin-top: 415px;
    }

    .right h2{
      margin-left: -420px;
      margin-top: -20px;
      font-size: 70px;
    }

    .right .see,.right1 .see,.right2 .see,.right3 .see{
      margin-left: -535px !important;
      width: 470px;
      text-align: center;
    }

    .right .line2,.right1 .line2,.right2 .line2,.right3 .line2{
      margin-top: 30px;
      margin-left: -575px;
      width: 530px;
    }
  
    .leffir, .leffir1,.leffir2,.leffir3{
      margin-left: -570px;
    }

    .rigfir,.rigfir1,.rigfir2,.rigfir3{
      margin-left: -490px;
    }
    

    .right1 h2,.right3 h2{
      margin-left: -400px;
      margin-top: -10px;
      font-size: 60px;
    }

    .right2 h2{
      margin-left: -425px;
      margin-top: -10px;
      font-size: 60px;
    }

    .line1{
      margin-left: -450px;
    }

    .line3{
      margin-left: -377px;
    }

    .line4{
      margin-left: -307px;
    }

    .line5{
      margin-left: -217px;
    }

  

  }























  @media (max-width: 567px) {


    .home{
      height: 120vh;
    }

    .overley{
      height: 120vh;
    }

    .up p{
    display: none;
    }

    nav{
      background-color: transparent;
     }
 
     .rrt{
       display: none;
     }
 
     .nav-item i{
       display: block;
       margin-left:70px;
       font-size: 35px;
       margin-top: -11px !important;
       z-index: 50;
     }
    
     .bar1{
      height: 120vh;
     }

    .bar1 .close{
      position: absolute;
      margin-top: 43px;
    }

    .bar1 ul{
      margin-top: 100px ;
    }

    .bar1 ul li{
      font-size: 50px;
      margin-top: 20px;
    }

    .line{
      display: none;
    }

    .left h3,.left1 h3,.left2 h3,.left3 h3{
      margin-left: -20px !important;
      margin-top: -20px !important;
      position: absolute;
      font-size: 20px !important;
      width: 800px;
    }

    .left img,.left1 img,.left2 img,.left3 img{
      padding-top: 280px;
      margin-left: 140px !important;
      width: 220px;
    }

    .right ul, .right1 ul,.right2 ul,.right3 ul{
      margin-left: -500px;
      margin-top: 415px;
    }

    .right h2{
      margin-left: -440px;
      margin-top: -10px;
      font-size: 60px;
    }

    .right .see,.right1 .see,.right2 .see,.right3 .see{
      margin-left: -585px !important;
      width: 470px;
      text-align: center;
    }

    .right .line2,.right1 .line2,.right2 .line2,.right3 .line2{
      margin-top: 30px;
      margin-left: -575px;
      width: 445px;
    }
  
    .leffir, .leffir1,.leffir2,.leffir3{
      margin-left: -570px;
    }

    .rigfir,.rigfir1,.rigfir2,.rigfir3{
      margin-left: -580px;
    }
    

    .right1 h2,.right3 h2{
      margin-left: -430px;
      margin-top: -10px;
      font-size: 60px;
    }

    .right2 h2{
      margin-left: -455px;
      margin-top: -10px;
      font-size: 60px;
    }

    .line1{
      margin-left: -480px;
    }

    .line3{
      margin-left: -407px;
    }

    .line4{
      margin-left: -337px;
    }

    .line5{
      margin-left: -247px;
    }
  
  

  }





















  @media (max-width: 467px) {


    .home{
      height: 120vh;
    }

    .overley{
      height: 120vh;
    }

    .up p{
    display: none;
    }

    nav{
      background-color: transparent;
     }
 
     .rrt{
       display: none;
     }
 
     .nav-item i{
       display: block;
       margin-left:-20px;
       font-size: 35px;
       margin-top: -11px !important;
       z-index: 50;
     }
    
     .bar1{
      height: 120vh;
     }

    .bar1 .close{
      position: absolute;
      margin-top: 43px;
    }

    .bar1 ul{
      margin-top: 100px ;
    }

    .bar1 ul li{
      font-size: 50px;
      margin-top: 20px;
    }

    .line{
      display: none;
    }

    .left h3,.left1 h3,.left2 h3,.left3 h3{
      margin-left: -50px !important;
      margin-top: -20px !important;
      position: absolute;
      font-size: 20px !important;
      width: 800px;
    }

    .left img,.left1 img,.left2 img,.left3 img{
      padding-top: 280px;
      margin-left: 110px !important;
      width: 220px;
    }

    .right ul, .right1 ul,.right2 ul,.right3 ul{
      margin-left: -540px;
      margin-top: 415px;
    }

    .right h2{
      margin-left: -470px;
      margin-top: -10px;
      font-size: 60px;
    }

    .right .see,.right1 .see,.right2 .see,.right3 .see{
      margin-left: -585px;
      width: 400px;
      text-align: center;
    }

    .right .line2,.right1 .line2,.right2 .line2,.right3 .line2{
      margin-top: 30px;
      margin-left: -575px;
      width: 370px;
    }
  
    .leffir, .leffir1,.leffir2,.leffir3{
      margin-left: -570px;
    }

    .rigfir,.rigfir1,.rigfir2,.rigfir3{
      margin-left: -650px;
    }
    

    .right1 h2,.right3 h2{
      margin-left: -460px;
      margin-top: -10px;
      font-size: 60px;
    }

    .right2 h2{
      margin-left: -485px;
      margin-top: -10px;
      font-size: 60px;
    }

    .line1{
      margin-left: -517px;
    }

    .line3{
      margin-left: -448px;
    }

    .line4{
      margin-left: -377px;
    }

    .line5{
      margin-left: -287px;
    }
  

  

  }


















  @media (max-width: 400px) {


    .home{
      height: 120vh;
    }

    .overley{
      height: 120vh;
    }

    .up p{
    display: none;
    }

    nav{
      background-color: transparent;
     }
 
     .rrt{
       display: none;
     }
 
     .nav-item i{
       display: block;
       margin-left:-40px;
       font-size: 35px;
       margin-top: -11px !important;
       z-index: 50;
     }
    
     .bar1{
      height: 120vh;
     }

    .bar1 .close{
      position: absolute;
      margin-top: 43px;
    }

    .bar1 ul{
      margin-top: 100px ;
    }

    .bar1 ul li{
      font-size: 50px;
      margin-top: 20px;
    }

    .line{
      display: none;
    }

    .left h3,.left1 h3,.left2 h3,.left3 h3{
      margin-left: -60px !important;
      margin-top: -20px !important;
      position: absolute;
      font-size: 20px !important;
      width: 800px;
    }

    .left img,.left1 img,.left2 img,.left3 img{
      padding-top: 280px;
      margin-left: 100px !important ;
      width: 220px;
    }

    .right ul, .right1 ul,.right2 ul,.right3 ul{
      margin-left: -550px;
      margin-top: 415px;
    }

    .right h2{
      margin-left: -480px;
      margin-top: -10px;
      font-size: 60px;
    }

    .right .see,.right1 .see,.right2 .see,.right3 .see{
      margin-left: -585px;
      width: 370px;
      text-align: center;
    }

    .right .line2,.right1 .line2,.right2 .line2,.right3 .line2{
      margin-top: 30px;
      margin-left: -575px;
      width: 350px;
    }
  
    .leffir, .leffir1,.leffir2,.leffir3{
      margin-left: -570px;
    }

    .rigfir,.rigfir1,.rigfir2,.rigfir3{
      margin-left: -670px;
    }
    

    .right1 h2,.right3 h2{
      margin-left: -470px;
      margin-top: -10px;
      font-size: 60px;
    }

    .right2 h2{
      margin-left: -495px;
      margin-top: -10px;
      font-size: 60px;
    }

    .line1{
      margin-left: -527px;
    }

    .line3{
      margin-left: -458px;
    }

    .line4{
      margin-left: -387px;
    }

    .line5{
      margin-left: -297px;
    }
  

  

  }








